<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body>
	<ui:composition template = "/layouts/commonLayout.xhtml">
		<ui:define name = "content">
			<h:form>
				<p><b>IF YOU ARE SURE YOU WANT TO DELETE, PLEASE INSERT AN ID</b></p>
				ID <h:inputText value="#{order.orderNo}" /><br/>
				<h:commandButton action="#{formController.onDelete(order.orderNo)}" value="Delete Product" />
			</h:form>
			<h:messages/>
			<h:form>
				<h:commandButton action="#{formController.onReturnToOrders()}" value="Go back" />
			</h:form>
		</ui:define>
	</ui:composition>
</body> 
</html>
