<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library= "css" name="registration.css"/>
</h:head> 
<body> 
	<ui:composition>
	<ui:define name="title" >JSF Login Page</ui:define>
	<ui:define name="content" >
		<!-- Login Form -->
		<div class="login">
			<h:form>
				First Name: <h:inputText class="field" id="firstName" value="#{user.firstName}" title="" />
				Last Name: <h:inputText class="field" id="lastName" value="#{user.lastName}" title="" />
				Email: <h:inputText class="field" id="email" value="#{user.email}" title="" />
				Username: <h:inputText class="field" id="userName" value="#{user.userName}" title="" />
				Password: <h:inputText class="field" id="password" value="#{user.password}" title="" />
				PhoneNumber: <h:inputText class="field" id="phoneNumber" value="#{user.phoneNumber}" title="" />
				<h:selectBooleanCheckbox class="switch-button" value = "Remember Me" id = "chkRememberMe" /> 
			</h:form>
		<h:messages />
		</div>
	</ui:define>
	</ui:composition>
</body> 
</html>
