* {
	margin: 0;
}

.login {
	position: fixed;

	top: 0;
	right: 0;

	padding: 5vh;

	height: 100vh;
	width: 33vw;

	text-align: center;
}

.login .field {
	width: 25vw;

	border-bottom: 1px solid black;
	opacity: 50%;

	transition: 0.4s ease-in-out;
}

.field::selection {
	opacity: 100%;
}

.login .switch-button {
	height: 5vh;
	width: 7.5vw;

	background-color: #84a02b;
	border-radius: 25px;
}

.login .logo {
	height: 5vh;
	width: 25vw;

	background-image::"logo.png"; /* TODO: put image here @Jordan */
	background-color: #84a02b;
}