<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
</h:head> 
<body> 
	<ui:composition template = "/layouts/commonlayouts.xhtml"	>
	<!-- Title Tag -->
	<ui:define name="title" >Narns and Bobel</ui:define>
	<ui:define name="content">
		<div align="right"> 
		<h:form>
			<a href="Login.xhtml">Login</a>
			<a href="LogReg.xhtml">Register</a>
		</h:form>
	</div>
		
	</ui:define>
	</ui:composition>
</body> 
</html>
