<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<body> 
<ui:composition template = "/layouts/commonlayouts.xhtml"	>
	<!-- Register -->
	<ui:define name="title" >Login</ui:define>
	<ui:define name="content">
		
		<div align="center"> 
		<h:form>

			UserName: <h:inputText value="#{user.username}" id="userName"/>
			<h:message for="userName"/><br/>
			Password: <h:inputPassword value="${user.password}" id="password"/>
			<h:message for="password"/><br/>
			<h:commandButton action="#{formController.onSubmit(user)}" value="Submit" />
		</h:form>
	</div>
	</ui:define>
	</ui:composition>
</body> 
</html>
