body {
	background-color: #e2d7d1;
}

.nav {
	position: fixed;

	padding: 2.5vh;
	margin: 0;

	top: 0;
	left: 0;

	text-align: right;
	
	height: 10vh;
}

.nav .logo {
	display: fixed;
	height: 5vh;
	width: 25vw;

	background-image:; /* TODO: put image here @Jordan */
	background-color: #84a02b;
}

.nav .search-container {
	position: fixed;
	
	height: 5vh;
	width: 5vh;
	
	top: 2.5vh;
	left: 47.5vw;
	
	font-size: 3vh;
	text-align: center;

	background-color: #395112;
	transition: 0.4s ease-in-out;
}

.search-container .search-box {
	height: 5vh;
	width: 0;

	border: 3px solid black;
	border-radius: 50%;

	text-align: center;

	transition: 0.4s ease-in-out;
}

.search-container:hover .search-box {
	height: 5vh;
	width: 35vw;

	text-align: left;

	border: 3px solid black;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

.search-container:hover {
	border: none;
}

.nav .registration {
	height: 5vh;
	width: 7.5vw;

	margin-left: 1vw;

	color: black;
	text-decoration: none;
	text-align: left;
	opacity: 75%;

	background-color: #84a02b;
	border-radius: 25px;
}