<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<!-- Noah Canepa, this is my own work -->
<body>
	<ui:composition template = "/layouts/commonLayout.xhtml">
		<ui:define name = "content">
			<h:form>
				Order Number <h:inputText value="#{order.orderNo}" /><br/>
				Jello Flavor <h:inputText value="#{order.jelloFlavor}" /><br/>
				Jello Size <h:inputText value="#{order.jelloSize}" /><br/>
				Price <h:inputText value="#{order.price}" /><br/>
				Quantity <h:inputText value="#{order.quantity}" /><br/>
				<h:commandButton action="#{formController.onFinishAddingProduct()}" value="Finish Adding Product" />
			</h:form>
			<h:messages/>
			<h:form>
				<h:commandButton action="#{formController.onReturnToOrders()}" value="Go back" />
			</h:form>
		</ui:define>
	</ui:composition>
</body> 
</html>
