<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head></h:head> 
<!-- Noah Canepa, this is my own work -->
<body> 
	<ui:composition template = "/layouts/commonLayout.xhtml">
		<ui:define name = "header">
			<h1 style="text-align:center;">Finished Adding Product</h1><br/>
		</ui:define>
		<ui:define name = "content">
      		<p>Order Number : #{order.orderNo}</p>
      		<p>Jello Flavor : #{order.jelloFlavor}</p>
      		<p>Jello Size : #{order.jelloSize}</p>
      		<p>Price : #{order.price}</p>
      		<p>Quantity : #{order.quantity}</p>
      		<p> Click "Next" to view your orders.</p>
     	 	<h:form>
      			<h:commandButton action="#{formController.onReturnToOrders()}" value="Next" />
      		</h:form>
      		</ui:define>
      	</ui:composition>
</body> 
</html>
