<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
      
<head>
	<title><ui:insert name="pageTitle">Page Title</ui:insert></title>
</head>
<!-- Noah Canepa, this is my own work -->
<body>
	<ui:composition template = "/layouts/commonLayout.xhtml">
		<ui:define name = "header">
		<h1> Register</h1>
		</ui:define>
		<ui:define name = "content">
			<h:form>
				First Name: <h:inputText value="#{user.firstName}" /><br/>
				Last Name: <h:inputText value="#{user.lastName}" /><br/>
				Email: <h:inputText value="#{user.email}" /><br/>
				Phone Number: <h:inputText value="#{user.phoneNumber}" /><br/>
				UserName: <h:inputText value="#{user.username}" /><br/>
				Password: <h:inputText value="#{user.password}" /><br/>
				<h:commandButton action="#{formController.onFinish()}" value="Finish" />
			</h:form>
			<h:messages/>
		</ui:define>
	</ui:composition>
</body>
		
</html>