<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<h:outputStylesheet library= "css" name="header.css"/>
</h:head> 
<body> 
	<ui:composition>
		<div class="nav">
			<a href="index.xhtml" class="logo"/>
			<div class="search-container" />
			<a href="login.xhtml"> login</a>
			<a href="registration.xhtml"> register</a>
		</div>
	</ui:composition>
</body> 
</html>
