<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
	<title><ui:insert name="title"> </ui:insert></title>
</h:head> 
<body> 
	<h1>BOOK</h1>
	<p> Hello </p>
	<br/>
		<h:dataTable value="#{testProduct.testProduct}" var="p">
			<h:column>
				<f:facet name="header">Title</f:facet>
				#{p.PTitle}
			</h:column>
			<h:column>
				<f:facet name="header">Author</f:facet>
				#{p.PAuthor}
			</h:column>
			<h:column>
				<f:facet name="header">Genre</f:facet>
				#{p.PGenre}
			</h:column>
			<h:column>
				<f:facet name="header">Date</f:facet>
				#{p.PDate}
			</h:column>
			<h:column>
				<f:facet name="header">Description</f:facet>
				#{p.PDesc}
			</h:column>
		</h:dataTable>
		<br/>
		<a href="index.xhtml"> Home</a>
</body> 
</html>
