<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"> 

<h:head>
</h:head> 
<body> 
	<h1>Registration</h1>
		<!-- Login Form -->
			<h:form>
				First Name: <h:inputText class="field" id="firstName" value="#{user.firstName}" title="" /><br/>
				Last Name: <h:inputText class="field" id="lastName" value="#{user.lastName}" title="" /><br/>
				Email: <h:inputText class="field" id="email" value="#{user.email}" title="" /><br/>
				Username: <h:inputText class="field" id="userName" value="#{user.userName}" title="" /><br/>
				Password: <h:inputText class="field" id="password" value="#{user.password}" title="" /><br/>
				PhoneNumber: <h:inputText class="field" id="phoneNumber" value="#{user.phoneNumber}" title="" /><br/>
				<a href="book.xhtml">Submit</a>
			</h:form>
		<h:messages />
</body> 
</html>
